<div id="wrapper">
<div id="contents">
<br><br>
<table border = "1" style="width:1300px">
<tr>
  <th>year</th>
  <th>figures</th>
</tr>
<% @items.each do | year, images | %>
  <tr>
    <td><%= year %></td>
    <td>
    <% images.each_with_index do | image, i | %>
      <img src="/wdr_images/<%= year %>/<%= image %>" height="320" alt="<%= image %>" />
    <% end %>
    </td>
  </tr>
<% end %>
</table>
<br><br>

</div><!-- contents -->
</div><!-- wrapper -->
