<div id="wrapper">
<div id="contents">
<table class="tbl_list" border="1">
<tr>
  <th>GENERAL INFO</th>
  <th>DETAILS</th>
</tr>
<% @wdr.each do |wdr| %>
<tr class="align_top">
  <td>
    <p>
      <b>
	<%= wdr["year"] %><br>
	<%= wdr["title"] %><br>
	<i><%= wdr["lead_author"] %></i>
      </b>
    </p>
    <hr>
    <p align="justify">
      <%= wdr["summary"] %>
    </p>
  </td>
  <td style="text-align:center;width:100px">
    <b>Figures: </b><%= wdr["figure_count"] %><br>
    <b>Tables: </b><%= wdr["table_count"] %><br>
    <b>Boxes: </b><%= wdr["box_count"] %>
  </td>
</tr>	
<% end %>
</table>

</div><!-- contents -->
</div><!-- wrapper -->
