<div id="wrapper">
<div id="contents">
  <div id="chartContainer" style="height: 300px; width: 100%;"> </div>
  <table class="tbl_list" border="1">
    <tr>
      <th>#</th>
      <th>year</th>
      <th>keyword</th>
      <th>count</th>
    </tr>

    <% i = 1 %>
    <% @top_keywords.each do |k, v| %>
    <tr>
      <td><%= i %></td>
      <td><%= k %></td>
      <td><%= v[:keyword] %></td>
      <td><%= v[:count] %></td>
    </tr>
    <% i+=1 %>
    <% end %>

  </table><br>

  <table class="tbl_list" border="1">
    <tr>
      <th>#</th>
      <th>keywords</th>
      <th>count</th>
      <th>total_f</th>
      <th>years (f)</th>
    </tr>

    <% i = 1 %>
    <% @k_summary.each do |k, v| %>
    <tr>
      <td><%= i %></td>
      <td><%= k %></td>
      <td><%= v[:count] %></td>
      <td><%= v[:total_f] %></td>
      <td><%= v[:years].join(",") %></td>
    </tr>
    <% i+=1 %>
    <% end %>
  </table>
</div><!-- contents -->
</div><!-- wrapper -->

<script type="text/javascript">
window.onload = function () {
  var chart = new CanvasJS.Chart("chartContainer", {
    title:{
      text: "<%= params[:word] %>"             
    },
    data: [//array of dataSeries              
    { //dataSeries object
       /*** Change type "column" to "bar", "area", "line" or "pie"***/
       type: "line",
       dataPoints: [	         
	<% @keywords.each do | keyword | %>
	  {label: "<%= keyword[:year] %>", y: <%= keyword[:count] %>} ,
	<% end %>
       ]
     }]
   });
  chart.render();
}

$("#sel_keyword").change(function(){
  word = $("#sel_keyword").val();
  console.log(word);
  window.location = "/wdr/keywords?word=" + word;
});
</script>
