<div id="wrapper">
<div id="contents">

<select id="sel_keyword" name="word">
  <% @k_list.each do |k| %>
  <option value="<%= k %>"><%= k %></option>
  <% end %>
</select>

<select id="sel_year" name="year">
  <% @years.each do |yr| %>
  <option value="<%= yr %>"><%= yr %></option>
  <% end %>
</select>

<div id="chartContainer" style="height: 300px; width: 100%;"> </div>

<table class="tbl_list" border="1">
<tr>
  <th>year</th>
  <th>keyword</th>
  <th>count</th>
</tr>

<% @keywords.each do |keyword| %>
<tr>
  <td><%= keyword[:year] %></td>
  <td><%= keyword[:keyword] %></td>
  <td><%= keyword[:count] %></td>
</tr>
<% end %>

</table>

</div><!-- contents -->
</div><!-- wrapper -->

<script type="text/javascript">
window.onload = function () {
var chart = new CanvasJS.Chart("chartContainer", {
  title:{
    text: "<%= params[:word] %>"             
  },
  data: [//array of dataSeries              
  { //dataSeries object
   /*** Change type "column" to "bar", "area", "line" or "pie"***/
   type: "line",
   dataPoints: [	         
    <% @keywords.each do | keyword | %>
      <% if params[:year].present? %>
	{label: "<%= keyword[:keyword] %>", y: <%= keyword[:count] %>} ,
      <% elsif params[:word].present? %>
	{label: "<%= keyword[:year] %>", y: <%= keyword[:count] %>} ,
      <% end %>
    <% end %>
   ]}
  ]
});

chart.render();
}
$("#sel_keyword").change(function(){
  word = $("#sel_keyword").val();
  window.location = "/wdr/keywords?word=" + word;
});
$("#sel_year").change(function(){
  year = $("#sel_year").val();
  window.location = "/wdr/keywords?year=" + year;
});
</script>
