<div id="wrapper">
<div id="contents">
  <table border = "1">
    <tr>
      <th>year</th>
      <th colspan="5">top 5 keywords from chapter and figure titles</th>
      <th>total</th>
    </tr>
    <% @words.each do | year, val | %>
      <tr>
	<td><%= year %></td>
	<% val.each_with_index do | v,i | %>
	  <td><span style="backround-color:#adadad;width:<%= (v[:count]/@sum[year].to_f * 100) %>%"><%= v[:word] %> (<%= v[:count] %>)</span></td>
	<% end %>
	<td><%= @sum[year] %></td>
      </tr>
    <% end %>
  </table><br>

  <table border = "1">
    <tr>
    <% @uniq_words.each do | w | %>
      <td><%= w %></td>
    <% end %>
    </tr>
  </table><br>

  <table border = "1">
    <% @keywords.each do |word, val| %>
    <tr>
      <td><%= word %></td>
      <td><%= val %></td>
    </tr>
    <% end %>
  </table>
</div><!-- contents -->
</div><!-- wrapper -->
