<div id="wrapper">
<div id="contents">
  <table class="tbl_list" border="1">
    <tr>
      <th></th>
      <th>GENERAL INFO</th>
      <th>DETAILS</th>
    </tr>

    <% @keyword_info.each do |k, v| %>
      <tr class="align_top">
	<td><%= k %></td>
	<td><%= v %></td>
      </tr>	
    <% end %>
  </table>
</div><!-- contents -->
</div><!-- wrapper -->
