<div id="wrapper">
<div id="contents">
<table class="tbl_list tbl_timedetail" border="1">
  <tr>
    <th>Time</th>
    <th>Main Activity</th>
    <th>Sub Activity</th>
  </tr>
  
  <% @hours.each do | hour | %>
  <tr>
    <td><%= hour %></td>
    <td>
      <select name="main_act" id="main_act">
	<option value="0"></option>
	<% @main_activities.each do | main_activity | %>
	  <option value="<%= main_activity[:code] %>"><%= main_activity[:description] %></option>
	<% end %>
      </select>
    </td>
    <td>
      <select name="sub_act" id="sub_act">
	<option value="0"></option>
      </select>
    </td>
  </tr>
  <% end %>
</table>
</div><!-- contents -->
</div><!-- wrapper -->

<script type="text/javascript">
var acts_list;

$(document).ready(function(){
  var acts = {};
  var sub_acts = {};

  <% @sub_activities.each do | sa | %>
    var main_code = "<%= sa[:main_code] %>";
    acts = {
      "id": "<%= sa[:id] %>",
      "code": "<%= sa[:code] %>",
      "desc": "<%= sa[:description] %>",
    };

    if($.isEmptyObject(sub_acts[main_code])){
      sub_acts[main_code] = new Array();
      sub_acts[main_code].push(acts);
    } else {
      sub_acts[main_code].push(acts);
    }
  <% end %>

  acts_list = sub_acts;
});

$("#main_act").change(function(){
  var main_code = $("#main_act").val();
  var sub_code = acts_list[main_code];

  for(var i = 0; i < sub_code.length; i++) {
    $("<option value='"+ sub_code[i]["code"] +"'>"+ sub_code[i]["desc"] +"</option>").insertAfter("#sub_act option");
  }

});
</script>
