<div id="wrapper">
<div id="contents">
<table class=" tbl_list tbl_participants" border = "1">
<tr>
  <td colspan="3"><b>Display: </b>
    <select id="display">
      <option value="0">All</option>
      <option value="1">Female</option>
      <option value="2">Male</option>
    </select>
  </td>
</tr>
<tr>
  <th>Gender</th>
  <th>Color #</th>
  <th>Action</th>
</tr>

<% @participants.each do | participant | %>
<tr class="<%= participant[:gender] %>">
  <td>
    <!-- gender -->
    <% if participant[:gender] == 1 %>
      Female
    <% elsif participant[:gender] == 2 %>
      Male
    <% end %>
  </td>

  <td>
    <!-- color -->
    <% if participant[:color] == 1 %>
      Red
    <% elsif participant[:color] == 2 %>
      Green
    <% elsif participant[:color] == 3 %>
      Black
    <% elsif participant[:color] == 4 %>
      Blue
    <% end %>

    <!-- number -->
    <%= participant[:number] %>
  </td>
  <td>
    <a href="timeuse/details/<%= participant[:id] %>" class="a_btn">View</a>
  </td>
</tr>

<% end %>
</table>
</div><!-- contents -->
</div><!-- wrapper -->

<script type="text/javascript">
$("#display").change(function(){
  if($("#display").val() == 1){
    $("tr.1").show();
    $("tr.2").hide();
  } else if ($("#display").val() == 2){
    $("tr.1").hide();
    $("tr.2").show();
  } else {
    $("tr.1").show();
    $("tr.2").show();
  }
});

</script>
