/*** CONSTANT ***/
body {
  color: #333333;
  font-size: 12px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
  margin: 0 auto 0;
  padding: 0;
  line-height: 1.6em;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
}

#topnav {
  width: 100%;
  height: 15px;
  background: #fefefe;
  color: #fff;
  margin: 0 auto 0;
  padding: 0;
  text-transform: uppercase;
}

/*** COMMON ***/
.float_l {
  float: left;
}

.float_r {
  float: right;
}

.align_top {
  vertical-align: top;
};

.align_center {
  text-align: center;
}

.a_btn {
  display: block;
  text-decoration: none;
  background-color: #5D99E6;
  color: #fff;
  padding: 5px 10px;
  width: 100px;
  text-align: center;
}

#contents a:link {
  color: #70ACFB;
}

#contents a:visited {
  color: #F2B8F2;
}

#contents a:hover {
  color: #F2F1B8;
}

.round_corner {
  border-radius: 5px;
  -moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.a_btn {
  display: block;
  text-decoration: none;
  background-color: #f2f2f2;
  padding: 5px 10px;
  width: 50px;
  text-align: center;
}

/*** CONTENTS ***/
#contents .tbl_list {
  border-collapse: collapse;
  border-color: #b4b4b4;
}

#contents .tbl_list th,td {
  padding: 5px 15px;
  border-color: #d8d8d8;
}

#contents .tbl_list p {
  margin: 0;
}

#contents .tbl_participants a {
  display: block;
  text-decoration: none;
}

#contents .tbl_timedetail {
  font-size: 8pt;
}

#contents .tbl_timedetail select {
  width: 150px;
}
/*** FOOTER ***/
#footer {
  background-color: #ECE8DC;
  padding: 20px;
  border-top: 1px solid #c5c5c5;
}

#footer table {
  margin: 0 auto;
  width: 920px;
  border-collapse: collapse;
}

#footer table th {
  padding: 5px 20px;
  text-align: left;
  width: 250px;
  color: #D07A00;
}

#footer table td{
  padding: 5px 20px;
  font-size: 9pt;
  vertical-align: top;
}

#footer table .both_border {
  border-left: 1px dotted #c5c5c5;
  border-right: 1px dotted #c5c5c5;
  padding: 0 10px;
}

#footer .sn_sites a {
  text-decoration: none;
  padding-right: 10px;
}

#footer .affiliates {
  margin: 0;
  padding: 0;
}
