<!DOCTYPE html>
<html>
<head>
  <title>Timeuse Application</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="/assets/jquery-1.11.2.min.js"></script>
  <script src="/assets/canvasjs-1.8.0/canvasjs.min.js"></script>
  <script src="/assets/canvasjs-1.8.0/jquery.canvasjs.min.js"></script>

</head>
<body>

<%= yield %>

</body>
</html>
